<!DOCTYPE html>
<html>
<head>
    <title>Add Sale</title>

    

</head>

<body>

<div class="container">

    <h2>Record Sale</h2>

    <form method="POST">

        {% csrf_token %}

        <div class="form-group">
            <label>Trader</label>
            <select name="trader">
                {% for trader in traders %}
                    <option value="{{ trader.id }}">
                        {{ trader.full_name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>Amount</label>
            <input type="number" name="amount" placeholder="Enter amount">
        </div>

        <div class="form-group">
            <label>Description</label>
            <input type="text" name="description" placeholder="Enter description">
        </div>

        <button type="submit">Save Sale</button>

    </form>

</div>

</body>
</html>